<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<title>Cartilha da Computação - UFBA</title>
		<meta name="description" content="Cartilha para Calouros.">
		<meta name="author" content="DCC-UFBA">
		<meta name="viewport" content="width=device-width">
    <link href="@@root@@/bootstrap/css/bootstrap.css" rel='stylesheet'/>
    <link href="@@root@@/bootstrap/css/bootstrap-responsive.css" rel='stylesheet'/>
    <link href="@@root@@/theme.css" rel='stylesheet'/>
    <!-- add HTML5 support to IE < 9 -->
    <!--[if lt IE 9]>
      <script src="html5.js"></script>
    <![endif]-->
  </head>
  <body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="@@root@@/"Cartilha</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href="@@root@@">Home</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class='container'>
		<div id='content'>
			@@content@@
		</div> <!-- id='content' -->
		<footer>
		</footer>
	</div> <!-- class='container' -->

	<script type="text/javascript" src="@@root@@/bootstrap/js/bootstrap.js"></script>
	</body>
</html>
